[2020-09-25 15:32] msandfor opened #19 "[Hacktoberfest]: Make it visible"
GitHub uses repository topics to help people find projects that might be of interest based on their search patterns or the projects they are working on.

We'd like to add a few topics to this repository. Can you help us out?

⌨️ Activity: Adding Topics to the repository
* On the Code tab, click the gear icon located next to the About section of the repository and just above the repository descript

[2020-09-26 08:01] msandfor opened #20 "[Hacktoberfest]: Add Missing Content"
This repository is aimed at helping more people get into coding with confidence. It has 10 (ish) sets of resources to enable that. If you notice there is anything or anyone missing - a resource or person that has helped you start or grow - please submit a pull request to add it / them in. Use the existing format (copy a line and then overwrite it) and put it in the most relevant section.

[2020-09-26 08:29] msandfor opened #22 "[Bug]: test"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-09-26 08:30] #22 closed

[2020-09-26 18:43] msandfor opened #26 "[Hacktoberfest]: Update Content"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:
The README for this project has some repeat/placeholder comments. If you look at the look at the Readme you will see resources, articles, webpages, videos etc. that have the same generic co

[2020-09-26 18:44] #19 closed

[2020-09-26 18:44] #20 closed

[2020-09-26 18:44] #26 closed

[2020-09-26 18:50] msandfor opened #28 "[Hacktoberfest]: Update Content"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:
The README for this project has some repeat/placeholder comments. If you look at the look at the Readme you will see resources, articles, webpages, videos etc that have the same generic com

[2020-09-26 18:52] msandfor opened #29 "[Hacktoberfest]: Add New Content"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:
Perhaps you would like to add content to this list. Feel free to do that to, but make sure that what you suggest is really useful. We don't want people to be overwhelmed with too many choic

[2020-09-26 19:21] newbietestuser commented on #28
Hi, I'll have a go at this

[2020-09-27 10:14] codess-aus commented on #28
@all-contributors add @newbietestuser for content and documentation

[2020-09-27 10:31] codess-aus commented on #29
@all-contributors please add @msandfor for code content documentation design examples mentoring review talks

[2020-09-28 18:08] newbietestuser opened #45 "[Bug]: testing bots work"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-09-28 18:10] newbietestuser commented on #45
OK, I'll delete this and try again

[2020-09-28 18:11] newbietestuser commented on #45
so angry this stupid bot is not answering me. Rage. Anger.

[2020-09-28 18:20] newbietestuser commented on #45
Sorry

[2020-09-28 18:20] #45 closed

[2020-09-29 12:50] Keatnuxsuo opened #52 "[Bug]: Broken Links in emoji-key.md"
**Describe the bug**
The links redirect to 404 page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '10-Easy-Steps/docs/emoji-key.md'
3. Scroll down to 'What's next'
4. Click on 'Notes for repository maintainers' and 'Automating the process using tools'

**Expected behavior**
Clicking on these links lead to a 404 page

**Screenshots**
![image](https://user-images.githubusercontent.com/

[2020-09-29 12:55] ghost commented on #52
Hey @Keatnuxsuo can I work on this issue (I could not understand the issue)? Do I have to modify the redirect links. If so, to what?

[2020-09-29 13:12] Keatnuxsuo commented on #52
@premkiran7 of course! I'm just not sure what is the right path for these links. Thank you!

[2020-09-29 15:14] codess-aus commented on #52
Hi @Keatnuxsuo thanks for raising this issue, let's look at it during our 1-2-1 tomorrow and you can show me what you did and what you expected. @premkiran7 If I find this is an unexpected behaviour, I will clarify the Issue for you with steps to fix and you can work on it. Watch this space ⌚ 👀

[2020-09-30 03:28] Keatnuxsuo opened #56 "[Bug]: Broken link in contributing.md"
**Describe the bug**
Broken link 'Code of Conduct' in contributing.md

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '10-Easy-Steps/contributing.md'
2. Click on 'contributing.md'
3. Scroll to 'line 7'
4. Edit link to the correct link of Code of Conduct (https://github.com/msandfor/10-Easy-Steps/blob/master/code_of_conduct.md)

**Expected behavior**
The link should go to Code of Conduc

[2020-09-30 03:30] Keatnuxsuo commented on #56
I will fix this issue

[2020-09-30 09:54] codess-aus commented on #52
Hi @premkiran7 - to fix this issue, could you please:
1. Go to '10-Easy-Steps/docs/emoji-key.md'
2. Click on Edit This File
3. Delete all text from Line 9

'Table
To have a contribution added when using the Bot or CLI use the keyword in the Type column. The bot will also use basic Natural Language Parsing to determine your contribution intent.'

4. Delete all text from Line 45 until end of File
'

[2020-09-30 18:20] #56 closed

[2020-09-30 18:43] msandfor opened #61 "[Hacktoberfest]: Update Step 3 Try Some Code Section with new resource"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

Add the below line into the Readme.md at line 77 or after the last line in the "Try Some Code" / Step 3 table:

| [Twilio Quest](https://www.twilio.com/quest) | Twilio | 3 | Learn to Use A

[2020-10-01 03:47] amykapernick commented on #28
@all-contributors please add amykapernick for content

[2020-10-01 03:47] codess-aus commented on #61
Resolved by PR #63
@all-contributors please add @amykapernick  for code doc mentoring talks content examples 📋

[2020-10-01 03:48] #61 closed

[2020-10-01 03:51] codess-aus commented on #52
Thanks @premkiran7
@all-contributors please add @premkiran7  for bug doc 🚧

[2020-10-01 03:51] #52 closed

[2020-10-01 07:25] TechGirl007 opened #66 "[Hacktoberfest]: Update Content"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:
The README for this project has some repeat/placeholder comments. If you look at the look at the Readme you will see resources, articles, webpages, videos etc that have the same generic com

[2020-10-01 07:26] #66 closed

[2020-10-01 09:15] sam0hack commented on #29
I've added a resource please check #67

[2020-10-01 09:29] msandfor opened #68 "[Hacktoberfest]: Update Content with Jessica White as a Mentor"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:
The README for this project has some repeat/placeholder comments. If you look at the look at the Readme you will see resources, articles, webpages, videos etc that have the same generic com

[2020-10-01 10:19] Seb-Dupuis opened #69 "[Hacktoberfest]: Update Content"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:
The README for this project has some repeat/placeholder comments. If you look at the look at the Readme you will see resources, articles, webpages, videos etc that have the same generic com

[2020-10-01 10:20] #69 closed

[2020-10-01 16:20] codess-aus commented on #68
Thanks @soumyajitnandi1 for resolving this issue

[2020-10-01 16:29] msandfor opened #76 "[Hacktoberfest]: Update Content - Add Signal Conf to the list of Conferences"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:
Add

📋 Step by Step

* 🙋 Claim an issue: By commenting on it.
* Click on the Readme.MD and then click on the little pen (top right) to edit the file
* Add this line underneath the last entr

[2020-10-01 22:41] jilloestreicher commented on #29
I contributed to this issue!

[2020-10-02 01:55] msandfor opened #80 "[Bug]: AllContributors Bot Failed"
**Describe the bug**

This project's configuration file has malformed JSON: .all-contributorsrc. Error:: Unexpected token ] in JSON at position 2843

[2020-10-02 01:59] codess-aus commented on #80
@all-contributors please add @msandfor bug code content data doc design examples eventorganizing maintenance mentoring question review test tutorial talk usertesting videos

[2020-10-02 02:04] codess-aus commented on #80
@all-contributors please add @Keatnuxsuo bug code content doc mentoring tutorial talk videos

[2020-10-02 02:27] codess-aus commented on #80
@all-contributors please add @TechGirl007 as a contributor for bug

[2020-10-02 02:31] TechGirl007 commented on #80
Thank you @msandfor :)
I'll be adding your repos to the list for the newbies to do tomorrow.  So far, we have about 60 signed up!

[2020-10-02 06:56] msandfor opened #91 "[Hacktoberfest]: Add Florin Pop to Mentors Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

Add content to this list:

Add this line to the line below the last line in step 4, Follow some Mentors section. Ensure a space remains after you insert your entry:

`| [Florin Pop](https:

[2020-10-02 06:58] codess-aus commented on #76
Resolved by PR88

[2020-10-02 06:58] #76 closed

[2020-10-02 16:26] codess-aus commented on #91
Resolved by PR #92 Thanks @av-dx

[2020-10-02 16:26] #91 closed

[2020-10-02 16:41] codess-aus commented on #29
Thanks @jilloestreicher - the contributions bot raised up in mutiny and messed up the repo for the day. I have manually added the contributors now until I have the strength to put the bot back in the game

[2020-10-02 17:16] msandfor opened #94 "[Hacktoberfest]: Update Content for NDC Conferences"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:
The README for this project has some repeat/placeholder comments. If you look at the look at the Readme you will see resources, articles, webpages, videos etc that have the same generic com

[2020-10-02 17:19] msandfor opened #95 "[Hacktoberfest]: Update Content to YOW Conferences"
To do:
The README for this project has some repeat/placeholder comments. If you look at the look at the Readme you will see resources, articles, webpages, videos etc that have the same generic comment to describe them. We'd like the specific information to replace those placeholder texts

📋 Step by Step
**Step by Step**
* 🙋 Claim this issue by commenting on it.
* Create a New Branch [How to branch

[2020-10-02 17:23] msandfor opened #96 "[Hacktoberfest]: Update Content for PyCon"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:
The README for this project has some repeat/placeholder comments. If you look at the look at the Readme you will see resources, articles, webpages, videos etc that have the same generic com

[2020-10-02 17:29] msandfor opened #97 "[Hacktoberfest]: Update Content for Microsoft Build Conference"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:
The README for this project has some repeat/placeholder comments. If you look at the look at the Readme you will see resources, articles, webpages, videos etc that have the same generic com

[2020-10-02 17:53] divyanshi-ojha commented on #97
Hey! I am new to contributing to open source and willing to try this one :)

Edit: I have tried and submitted a pull request as well.

[2020-10-02 18:47] spenaustin commented on #96
Hey, I'd like to take a stab at this if nobody else has claimed it.

[2020-10-02 19:07] spenaustin commented on #96
PR Raised at #99

[2020-10-02 20:32] codess-aus commented on #97
Perfect. Thanks  @divyanshi-ojha

[2020-10-02 20:32] #97 closed

[2020-10-02 20:36] codess-aus commented on #96
Great job. Enjoy Hacktoberfest!

[2020-10-02 20:36] #96 closed

[2020-10-02 20:44] msandfor opened #100 "[Hacktoberfest]: Update Content for Web Directions Summit"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:
The README for this project has some repeat/placeholder comments. If you look at the look at the Readme you will see resources, articles, webpages, videos etc that have the same generic com

[2020-10-03 02:04] aortiz24 commented on #100
@msandfor, I would like to work on this! It's my first time at hacktoberfest!

[2020-10-03 02:05] aortiz24 commented on #95
I would like to work on this! It's my first time at hacktoberfest!

[2020-10-03 02:06] aortiz24 commented on #94
I would like to work on this! It's my first time at hacktoberfest!

[2020-10-03 07:24] codess-aus commented on #100
Go ahead and make your PR - tell me if you need any help :-)

[2020-10-03 07:29] msandfor opened #101 "[Hacktoberfest]: Update Content for DDDPerth"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:
The README for this project has some repeat/placeholder comments. If you look at the look at the Readme you will see resources, articles, webpages, videos etc that have the same generic com

[2020-10-03 07:36] msandfor opened #102 "[Hacktoberfest]: Update Content for JS Conf"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:
The README for this project has some repeat/placeholder comments. If you look at the look at the Readme you will see resources, articles, webpages, videos etc that have the same generic com

[2020-10-03 07:40] msandfor opened #103 "[Hacktoberfest]: Update Content for GitHub Universe"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:
The README for this project has some repeat/placeholder comments. If you look at the look at the Readme you will see resources, articles, webpages, videos etc that have the same generic com

[2020-10-03 07:56] msandfor opened #104 "[Hacktoberfest]: Update Content for Get Involved"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:
The README for this project has some repeat/placeholder comments. If you look at the look at the Readme you will see resources, articles, webpages, videos etc that have the same generic com

[2020-10-03 08:01] msandfor opened #105 "[Hacktoberfest]: Update Content for 100DaysOfCode"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:
The README for this project has some repeat/placeholder comments. If you look at the look at the Readme you will see resources, articles, webpages, videos etc that have the same generic com

[2020-10-03 08:18] sanxy commented on #104
I will like to work on this issue

[2020-10-03 08:36] codess-aus commented on #104
Go ahead and make your PR :-)

[2020-10-03 08:58] adityaa-p commented on #105
Hey @msandfor, Can I work on this?

[2020-10-03 09:53] codess-aus commented on #105
Go right ahead

[2020-10-03 10:11] codess-aus commented on #104
Resolved by #106 PR

[2020-10-03 10:11] #104 closed

[2020-10-03 10:26] msandfor opened #107 "[Hacktoberfest]: Add Dylan Beattie to the Mentors Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

Add content to this list:

Add Dylan Beattie to the line below the last line in step 4, Follow some Mentors section. Ensure a space remains after you insert your entry:

📋 Step by Step
**S

[2020-10-03 10:29] Jayant0jha commented on #102
Hey @msandfor I want to contribute.

[2020-10-03 10:42] codess-aus commented on #102
Completed in PR #108

[2020-10-03 10:42] #102 closed

[2020-10-03 10:45] Jayant0jha commented on #107
Hey @msandfor , can I work on this?

[2020-10-03 10:50] codess-aus commented on #107
Hey @Jayant0jha - not this one, because you already worked on an easy one. You have to go to the next level now. Look at issues #28 or #29 and either investigate a resource that has only placeholder text in the info, and see if you can replace that with info from their website to summarise them better. Or, if you know of a good resource/mentor - add them in.

i.e. - This issue has a cut and paste

[2020-10-03 10:57] punitaojha commented on #103
Hey @msandfor can I work on this?

[2020-10-03 11:00] msandfor opened #109 "[Hacktoberfest]: Add Content about the Rockstar Programming Language to Step 11"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:
Around line 175 of the Readme, is the **And Then What** Section, add in the **Coding with Rockstar** details

📋 Step by Step

* 🙋 Claim this issue by commenting on it.
* Create a New Branch

[2020-10-03 11:01] codess-aus commented on #103
Of course @punitaojha - go right ahead

[2020-10-03 11:19] msandfor opened #111 "[Hacktoberfest]: Add Content about Stack Overflow to the Get Involved Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:
Around line 104 of the Readme, is the **Get Involved** Section, add in the **Stack Overflow** details

📋 Step by Step

* 🙋 Claim this issue by commenting on it.
* Create a New Branch [How t

[2020-10-03 11:34] utsav00 commented on #109
Hey, the description is great! I think I understood most of the things.
This won't be my first contribution but I'm still a beginner. May I work on this?

[2020-10-03 11:38] codess-aus commented on #109
Sure, have at it

[2020-10-03 11:42] Jayant0jha commented on #28
Hey @msandfor , added a PR #112

[2020-10-03 11:54] codess-aus commented on #28
Good job :-) I recommend you try the [TwilioQuest](https://www.twilio.com/quest/learn/open-source) - Hacktoberfest Mission next

[2020-10-03 12:10] utsav00 commented on #109
I committed to the local branch and now when I'm trying to push to ` issue-109-_Hacktoberfest_Add_Content_about_the_Rockstar_Programming_Language_to_Step_11`, it gives me `Permission Denied` error.

[2020-10-03 12:32] codess-aus commented on #109
Does it give you an option to do something else? Because you don't want to push, you want to create a Pull request. i.e a Request to Pull your changes from your local branch to my repo.

* Are you making your changes in command-line or in github desktop or directly from visual studio code, or something else?
* Is it asking you to compare across branches or make a Pull Request to merge into the mai

[2020-10-03 13:43] newbietestuser commented on #95
I'll take this

[2020-10-03 13:44] codess-aus commented on #95
Sure go ahead

[2020-10-03 14:02] gabrielhicks commented on #111
Hello!

I would like to work on this issue as my second open source contribution!

[2020-10-03 14:05] codess-aus commented on #95
Closed with PR #114

[2020-10-03 14:05] #95 closed

[2020-10-03 14:12] codess-aus commented on #111
sure go ahead

[2020-10-03 14:40] gabrielhicks commented on #111
Commit made, pull requested #115

[2020-10-03 14:53] utsav00 commented on #109
Thank you for your help! I figured that I had not forked the repository and the error was caused by that.

[2020-10-03 14:55] utsav00 commented on #109
Also, really sorry about two PRs, did not realize that the first PR was to the msandfor:sub-branch, so created another PR to the msandfor:master. To top it off, I learned today that I cannot delete a PR. Again really sorry about the mess.

[2020-10-03 15:15] #109 closed

[2020-10-03 15:26] codess-aus commented on #109
@utsav00 Don't worry about it - this is the point of hacktoberfest - and this repository. For you to practice and have a chance to feel confident in Github. Now... I have created another tutorial, showing how to edit in the browser - not sure if you did that.
See how you like this one and try another issue:
https://github.com/msandfor/10-Easy-Steps/blob/master/docs/GitHub-browser-tutorial.md

[2020-10-03 15:36] codess-aus commented on #111
Completed in PR #115

[2020-10-03 15:36] #111 closed

[2020-10-03 15:48] utsav00 commented on #109
No, I did it with command line, I'll try it with the in-browser tools too!
Thank you for all the help! :smile:

[2020-10-03 15:54] codess-aus commented on #109
Oh well, I get lost in command-line so I don't blame you for getting mixed up in there :-D

[2020-10-03 16:02] msandfor opened #118 "[Hacktoberfest]: Add Eddie Jaoude Community to the Get Involved Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:
Add content to this list: Eddie Jaoude Community

📋 Step by Step

* 🙋 Claim the issue by commenting on it.
* [Step-by-Step](https://github.com/msandfor/10-Easy-Steps/blob/master/docs/GitHub

[2020-10-03 16:28] Retnuh1337 commented on #118
I'll take this

[2020-10-03 16:33] pranavbaitule commented on #101
@msandfor can I work this?

[2020-10-03 16:40] Arvind25R commented on #107
Can I work on this ? @msandfor I have recently started using github. It would be helpful for me to get into open source by doing this.

[2020-10-03 17:26] 2KAbhishek commented on #94
I'll take this one.

[2020-10-03 17:30] codess-aus commented on #101
Sure

[2020-10-03 17:30] codess-aus commented on #107
Sure, go ahead

[2020-10-03 18:11] codess-aus commented on #94
Closed by PR #120

[2020-10-03 18:11] #94 closed

[2020-10-03 18:16] codess-aus commented on #107
resolved by PR #119

[2020-10-03 18:16] #107 closed

[2020-10-03 18:32] msandfor opened #122 "[Hacktoberfest]: Add Diana Rodriguez to Mentors Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Add Diana Rodriguez to the Mentors section
* See below for link to step-by-step tutorial
* Go down to Mentors section - it starts at around line 83
* Paste the following information unde

[2020-10-03 18:35] msandfor opened #124 "[Hacktoberfest]: Add Monica Powell to the Mentors Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Add Monica Powell to the Mentors section
* See below for link to step-by-step tutorial
* Go down to Mentors section - it starts at around line 83
* Paste the following information undern

[2020-10-03 18:37] msandfor opened #125 "[Hacktoberfest]: Add Wenli Zhang to the Mentors Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Add Wenli Zhang to the Mentors section
* See below for link to step-by-step tutorial
* Go down to Mentors section - it starts at around line 83
* Paste the following information undernea

[2020-10-03 18:42] msandfor opened #126 "[Hacktoberfest]: Add Chrissy LeMaire to the Mentors Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Add Chrissy LeMaire to the Mentors section
* See below for link to step-by-step tutorial
* Go down to Mentors section - it starts at around line 83
* Paste the following information unde

[2020-10-03 18:45] msandfor opened #127 "[Hacktoberfest]: Add Vanessa Aristizabal to Mentors Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Add Vanessa Aristizabal to the Mentors section
* See below for link to step-by-step tutorial
* Go down to Mentors section - it starts at around line 83
* Paste the following information

[2020-10-03 18:51] amiecroteau commented on #122
I'll take this issue

[2020-10-03 18:53] codess-aus commented on #101
resolved with PR #123

[2020-10-03 18:53] #101 closed

[2020-10-03 18:56] codess-aus commented on #100
@aortiz24 - here is an additional step-by-step tutorial in case you need it - just amend the content from this issue instead of the content change from the tutorial:

https://github.com/msandfor/10-Easy-Steps/blob/master/docs/GitHub-browser-tutorial.md

[2020-10-03 19:37] yamini27 commented on #127
Hi, I'd like to take this. Thanks!

[2020-10-03 19:50] hi-hi-ray commented on #28
Hi! add a new twitch streamer, here is my pr: https://github.com/msandfor/10-Easy-Steps/pull/129

[2020-10-03 20:13] Divya247 commented on #126
Hi I would like to take up this Issue. can you please assign it to me?. This would be my first open source contribution. Thank you.

[2020-10-03 20:14] EmberCS15 commented on #125
Hi, I would like to work on this.

[2020-10-03 20:14] MykolaKolotylo commented on #125
@msandfor Hi. Can I take this issue?

[2020-10-03 20:14] MykolaKolotylo commented on #124
@msandfor I'll take this issue

[2020-10-04 05:50] aortiz24 commented on #100
I have completed all my pull request!

[2020-10-04 06:43] codess-aus commented on #118
Closed PR #132

[2020-10-04 06:43] #118 closed

[2020-10-04 06:46] codess-aus commented on #100
closed PR #131  Congrats @aortiz24

[2020-10-04 06:46] #100 closed

[2020-10-04 06:47] codess-aus commented on #122
Closed PR #130

[2020-10-04 06:47] #122 closed

[2020-10-04 06:54] codess-aus commented on #124
closed PR #130

[2020-10-04 06:54] #124 closed

[2020-10-04 10:15] codess-aus commented on #126
closed PR #134

[2020-10-04 10:15] #126 closed

[2020-10-04 10:19] codess-aus commented on #127
Closed PR #133

[2020-10-04 10:19] #127 closed

[2020-10-04 10:32] msandfor opened #135 "[Hacktoberfest]: Add Developer Week to the Conferences Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Add Developer Week to the Conferences Section
* See below for link to step-by-step tutorial
* Go down to Conferences section - it starts at around line 173
* Using the following template

[2020-10-04 10:34] msandfor opened #136 "[Hacktoberfest]: Add "O’Reilly Software Architecture Conference" to the Conferences Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Add *O’Reilly Software Architecture Conference* to the Conferences Section
* See below for link to step-by-step tutorial
* Go down to Conferences section - it starts at around line 173
*

[2020-10-04 10:36] msandfor opened #137 "[Hacktoberfest]: Add SuperConf to the Conferences Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Add *SuperConf* to the Conferences Section
* See below for link to step-by-step tutorial
* Go down to Conferences section - it starts at around line 173
* Using the following template, p

[2020-10-04 10:37] msandfor opened #138 "[Hacktoberfest]: Add "PowerShell and DevOps Global Summit" to the Conferences Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Add *PowerShell and DevOps Global Summit* to the Conferences Section
* See below for link to step-by-step tutorial
* Go down to Conferences section - it starts at around line 173
* Using

[2020-10-04 10:38] msandfor opened #139 "[Hacktoberfest]: Add "Facebook F8" to the Conferences Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Add *Facebook F8* to the Conferences Section
* See below for link to step-by-step tutorial
* Go down to Conferences section - it starts at around line 173
* Using the following template,

[2020-10-04 10:39] msandfor opened #140 "[Hacktoberfest]: Add "Apple WWDC" to the Conferences Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Add *Apple WWDC* to the Conferences Section
* See below for link to step-by-step tutorial
* Go down to Conferences section - it starts at around line 173
* Using the following template,

[2020-10-04 10:40] msandfor opened #141 "[Hacktoberfest]: Add "QCon New York" to the Conferences Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Add *QCon New York* to the Conferences Section
* See below for link to step-by-step tutorial
* Go down to Conferences section - it starts at around line 173
* Using the following templat

[2020-10-04 10:42] msandfor opened #142 "[Hacktoberfest]: Add "DockerCon" to the Conferences Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Add *DockerCon* to the Conferences Section
* See below for link to step-by-step tutorial
* Go down to Conferences section - it starts at around line 173
* Using the following template, p

[2020-10-04 10:44] msandfor opened #143 "[Hacktoberfest]: Add "Open Source Summit" to the Conferences Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Add *Open Source Summit* to the Conferences Section
* See below for link to step-by-step tutorial
* Go down to Conferences section - it starts at around line 173
* Using the following te

[2020-10-04 10:45] msandfor opened #144 "[Hacktoberfest]: Add "OSCON" to the Conferences Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Add *OSCON* to the Conferences Section
* See below for link to step-by-step tutorial
* Go down to Conferences section - it starts at around line 173
* Using the following template, put i

[2020-10-04 10:46] msandfor opened #145 "[Hacktoberfest]: Add "DevOpsCon" to the Conferences Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Add *DevOpsCon* to the Conferences Section
* See below for link to step-by-step tutorial
* Go down to Conferences section - it starts at around line 173
* Using the following template, p

[2020-10-04 10:51] Plingooo commented on #142
Hey,
I would do this if it is okay. :)

[2020-10-04 10:51] msandfor opened #146 "[Hacktoberfest]: Add DEVintersection to the Conferences Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Add *DEVintersection* to the Conferences Section
* See below for link to step-by-step tutorial
* Go down to Conferences section - it starts at around line 173
* Using the following templ

[2020-10-04 10:53] Plingooo commented on #142
I'll take this

[2020-10-04 10:55] msandfor opened #147 "[Hacktoberfest]: Add "CodeMash" to the Conferences Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Add *CodeMash* to the Conferences Section
* See below for link to step-by-step tutorial
* Go down to Conferences section - it starts at around line 173
* Using the following template, pu

[2020-10-04 10:56] msandfor opened #148 "[Hacktoberfest]: Add "FOSDEM" to the Conferences Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Add *FOSDEM* to the Conferences Section
* See below for link to step-by-step tutorial
* Go down to Conferences section - it starts at around line 173
* Using the following template, put

[2020-10-04 10:57] msandfor opened #149 "[Hacktoberfest]: Add "ConFoo" to the Conferences Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Add *ConFoo* to the Conferences Section
* See below for link to step-by-step tutorial
* Go down to Conferences section - it starts at around line 173
* Using the following template, put

[2020-10-04 10:59] msandfor opened #150 "[Hacktoberfest]: Add "WeAreDevelopers" to the Conferences Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Add *WeAreDevelopers* to the Conferences Section
* See below for link to step-by-step tutorial
* Go down to Conferences section - it starts at around line 173
* Using the following templ

[2020-10-04 11:01] msandfor opened #151 "[Hacktoberfest]: Add "Shift Dev" to the Conferences Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Add [Shift Dev](https://dev.shiftconf.co) to the Conferences Section
* See below for link to step-by-step tutorial
* Go down to Conferences section - it starts at around line 173
* Using

[2020-10-04 11:03] msandfor opened #152 "[Hacktoberfest]: Add "JSNation" to the Conferences Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Add [JSNation](https://jsnation.com/) to the Conferences Section
* See below for link to step-by-step tutorial
* Go down to Conferences section - it starts at around line 173
* Using the

[2020-10-04 13:05] codess-aus commented on #142
Resolved

[2020-10-04 13:05] #142 closed

[2020-10-04 13:13] #125 closed

[2020-10-04 13:17] ishitacodes commented on #150
I want to work on this.

[2020-10-04 14:15] AzT3Risk commented on #151
Can I take this one?

[2020-10-04 16:52] #151 closed

[2020-10-05 03:16] Keatnuxsuo commented on #138
I'll take this :D

[2020-10-05 07:43] PritikaSabharwal commented on #103
Hey @msandfor can I work on this?

[2020-10-05 07:49] codess-aus commented on #103
Sure, whoever pulls first gets it :-)

[2020-10-05 08:03] PritikaSabharwal commented on #103
Hey @msandfor can I work on this issue?

[2020-10-05 08:06] msandfor opened #160 "[Hacktoberfest]: Add Open Source Guide to Step 11"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Add [Open Source Guides](https://opensource.guide/) to the *And Then What?* Section / Step 11
* See below for link to step-by-step tutorial
* Go down to <example> section - it starts at

[2020-10-05 08:37] punitaojha commented on #103
Hello this issue is already fixed. I did work on this and it is merged as well.

[2020-10-05 08:38] punitaojha commented on #103
I think we can close this.

[2020-10-05 08:57] PritikaSabharwal commented on #149
Hey @msandfor can I work on this?

[2020-10-05 09:23] codess-aus commented on #103
Oops Yes, so you did

[2020-10-05 09:23] #103 closed

[2020-10-05 09:25] codess-aus commented on #149
Go ahead

[2020-10-05 09:43] RemcoHalman commented on #160
I would like to take this. Love the open source vibe

[2020-10-05 10:46] codess-aus commented on #149
Good Job @PritikaSabharwal PritikaSabharwal

[2020-10-05 10:46] #149 closed

[2020-10-05 10:46] codess-aus commented on #149
Closed with PR #162

[2020-10-05 10:47] codess-aus commented on #160
Have at it 👍

[2020-10-05 11:03] codess-aus commented on #160
Good Job @RemcoHalman Closed with PR #165

[2020-10-05 11:03] #160 closed

[2020-10-05 11:11] codess-aus commented on #138
closed with PR #159

[2020-10-05 11:11] #138 closed

[2020-10-05 13:28] squarebat commented on #140
I'll take it

[2020-10-05 15:01] rashrey2308 commented on #148
Can I claim this issue?

[2020-10-05 15:15] rashrey2308 commented on #148
I'll take it.

[2020-10-05 16:38] codess-aus commented on #140
reslved PR167

[2020-10-05 16:38] #140 closed

[2020-10-05 19:11] jessicasalbert commented on #145
I'd like to work on this one if you could assign it to me. Thanks!

[2020-10-06 01:57] djl218 commented on #152
Could I work on this issue?

[2020-10-06 03:53] #152 closed

[2020-10-06 03:54] codess-aus commented on #145
Completed PR #172

[2020-10-06 03:54] #145 closed

[2020-10-06 03:55] codess-aus commented on #148
PR #169

[2020-10-06 03:55] #148 closed

[2020-10-06 06:05] nessaamorgan commented on #143
This should be closed by PR #173

[2020-10-06 06:06] #143 closed

[2020-10-06 06:12] nessaamorgan commented on #139
This should be closed with PR #174

[2020-10-06 06:20] #139 closed

[2020-10-06 08:11] ravigautamcs commented on #146
I can do this but i need help in between

[2020-10-06 08:18] codess-aus commented on #146
Sure, give it a go. Tell me where you need help, but the Step-By-Step Tutorial above should be very clear.

Here is the copy paste for the edit:

`| [DevIntersection](https://devintersection.com/#!/?track=dev) | Microsoft | 10 | An event where your questions get answered, strategies are defined, and relationships are built |`

[2020-10-06 08:24] ravigautamcs commented on #146
Means i only need to do copy paste??

[2020-10-06 08:38] codess-aus commented on #146
That is the extent of the change. There are complete instructions in the ste-by-step tutorial

[2020-10-06 08:41] codess-aus commented on #146
Um, @ravigautamcs  it looks like you copy pasted the text and then deleted the branch without waiting for it to be approved or merged... You need to follow the instructions and complete a Pull Request with the changed data in it:

Tutorial: https://github.com/msandfor/10-Easy-Steps/blob/master/docs/GitHub-browser-tutorial.md

[2020-10-06 08:57] codess-aus commented on #146
Congrats - all done PR #176

[2020-10-06 08:57] #146 closed

[2020-10-06 15:13] msandfor opened #178 "[Hacktoberfest]: Edit Phil Nash in Twitch Stream Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Edit [Phil Nash](https://www.twitch.tv/phil_nash/) in the Twitch Section
* See below for link to step-by-step tutorial
* Go down to Twitch section - it starts at around line 167

Update

[2020-10-06 15:23] msandfor opened #180 "[Hacktoberfest]: Edit Amy Kapernick in the Twitch Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Edit Amy Kapernick in the Twitch Section
* See below for link to step-by-step tutorial
* Go down to Twitch section - it starts at around line 167

Update the entry to read:

`| [Amy Kape

[2020-10-06 15:26] dhnv08 commented on #178
Hello, May I take this?

[2020-10-06 15:26] msandfor opened #181 "[Hacktoberfest]: Edit the Clarkio entry in the Twitch Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Edit Clarkio in the Twitch Section
* See below for link to step-by-step tutorial
* Go down to Twitch section - it starts at around line 167

Update the entry to read:

`| [Clarkio](https

[2020-10-06 15:29] msandfor opened #182 "[Hacktoberfest]: Edit Twilio in the Twitch Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Edit Twilio in the Twitch Section
* See below for link to step-by-step tutorial
* Go down to Twitch section - it starts at around line 167

Update the entry to read:

`| [Twilio](https:/

[2020-10-06 15:33] msandfor opened #183 "[Hacktoberfest]: Edit Pair Programming Entry in the Twitch Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Edit *Pair Programming* entry in the Twitch Section
* See below for link to step-by-step tutorial
* Go down to Twitch section - it starts at around line 167

Update the entry to read:

`

[2020-10-06 15:35] msandfor opened #184 "[Hacktoberfest]: Edit the Data Visualisations Entry in the Twitch Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Edit *Data Visualisations* entry in the Twitch Section
* See below for link to step-by-step tutorial
* Go down to Twitch section - it starts at around line 167

Update the entry to read:

[2020-10-06 15:38] msandfor opened #185 "[Hacktoberfest]: Edit the Coding tips, tricks, and techniques entry in the Twitch Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Edit *Coding tips, tricks, and techniques* entry in the Twitch Section
* See below for link to step-by-step tutorial
* Go down to Twitch section - it starts at around line 167

Update th

[2020-10-06 15:40] msandfor opened #186 "[Hacktoberfest]: Edit the DevChatter entry in the Twitch Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Edit *DevChatter* entry in the Twitch Section
* See below for link to step-by-step tutorial
* Go down to Twitch section - it starts at around line 167

Update the entry to read:

`| [Dev

[2020-10-06 15:43] msandfor opened #187 "[Hacktoberfest]: Edit the CodingGarden entry in the Twitch section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Edit *CodingGarden* entry in the Twitch Section
* See below for link to step-by-step tutorial
* Go down to Twitch section - it starts at around line 167

Update the entry to read:

`| [L

[2020-10-06 15:45] msandfor opened #188 "[Hacktoberfest]: Update Content in the Chael Codes entry for Twitch"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Edit *Chael Codes* entry in the Twitch Section
* See below for link to step-by-step tutorial
* Go down to Twitch section - it starts at around line 167

Update the entry to read:

`| [Ch

[2020-10-06 15:48] msandfor opened #189 "[Hacktoberfest]: Edit entry for Layla Codesit in the Twitch Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Edit *Layla Codesit* entry in the Twitch Section
* See below for link to step-by-step tutorial
* Go down to Twitch section - it starts at around line 167

Update the entry to read:

`| [

[2020-10-06 15:50] msandfor opened #190 "[Hacktoberfest]: Edit entry for Microsoft Developer in the Twitch Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Edit *Microsoft Developer* entry in the Twitch Section
* See below for link to step-by-step tutorial
* Go down to Twitch section - it starts at around line 167

Update the entry to read:

[2020-10-06 15:53] codess-aus commented on #178
Go right ahead @xvidviii

[2020-10-06 15:56] f1ypopper commented on #190
Please assign me this issue

[2020-10-06 16:00] f1ypopper commented on #189
I can handle this issue!

[2020-10-06 16:02] f1ypopper commented on #188
Can I work on this issue?

[2020-10-06 16:20] xvidviii commented on #180
May I work on this issue?

[2020-10-06 16:21] dhnv08 commented on #181
Hello, I want to work this issue

[2020-10-06 16:23] xvidviii commented on #182
May I work on this issue?

[2020-10-06 16:31] codess-aus commented on #181
You can only take one issue @xvidviii - others want to make their first PRs during Hacktoberfest

[2020-10-06 16:34] codess-aus commented on #189
You can only take one issue @Atharva8 - others want to make their first PR during Hacktoberfest

[2020-10-06 16:36] codess-aus commented on #190
You can only take one issue @Atharva8 - others want to make their first PR during hacktoberfest

[2020-10-06 16:36] codess-aus commented on #178
Resolved in PR #191

[2020-10-06 16:36] #178 closed

[2020-10-06 16:37] dhnv08 commented on #181
Okay, thank you

[2020-10-06 16:49] codess-aus commented on #188
Closed with PR#189

[2020-10-06 16:49] #188 closed

[2020-10-06 16:51] codess-aus commented on #189
Closed

[2020-10-06 16:51] #189 closed

[2020-10-06 16:58] Zualemo-xo commented on #187
Ill take this?

[2020-10-06 17:07] voidxyzvoidxyz commented on #190
I will take this

[2020-10-06 17:12] tlchan668 commented on #136
l will work on this.  Thank you.

[2020-10-06 18:08] #190 closed

[2020-10-06 18:11] codess-aus commented on #136
PR197

[2020-10-06 18:11] #136 closed

[2020-10-06 18:42] msandfor opened #198 "[Hacktoberfest]: Add Tatiana Mac to the Mentors Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝 Please only take one issue each. Others want to contribute to Hacktoberfest and my fingers hurt from creating so many issues.

To do:

* Add Tatiana Mac to the Mentors Section
* See below for link

[2020-10-06 18:48] msandfor opened #200 "[Hacktoberfest]: Add Chloe Condon to the Mentors Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Add Chloe Condon to the Mentors Section
* See below for link to step-by-step tutorial
* Go down to Mentors section - it starts at around line 91
  * Using the following template, put in

[2020-10-06 18:53] #187 closed

[2020-10-06 19:04] camilorecce commented on #200
I can take this!

[2020-10-06 20:47] rossdwill commented on #135
Hey I would like to pick this up :)

[2020-10-06 21:36] OtchereDev commented on #186
I'll take this

[2020-10-06 21:44] OtchereDev commented on #185
I will take this

[2020-10-06 21:45] OtchereDev commented on #182
I will take this

[2020-10-06 22:54] OtchereDev commented on #198
I will take this

[2020-10-07 01:22] #135 closed

[2020-10-07 01:38] #200 closed

[2020-10-07 01:38] #198 closed

[2020-10-07 01:38] #186 closed

[2020-10-07 08:33] JasirZaeem commented on #184
Can I be assigned this? I'd like to do it.

[2020-10-07 08:54] msandfor opened #206 "[Hacktoberfest]: Add STEM Stories to the YouTube Vids Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Add STEM Stories to the YouTube Vid Section
* See below for link to step-by-step tutorial
* Go down to YouTube section - it starts at around line 160
  * Using the following template, pa

[2020-10-07 11:41] #184 closed

[2020-10-07 12:58] Mithunitp commented on #206
I'll take this

[2020-10-07 14:17] #206 closed

[2020-10-07 15:34] msandfor opened #210 "[Hacktoberfest]: Add - The Case of the Missing Method to the YouTube Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Add *The Case of the Missing Method* in the YouTube Section
* See below for link to step-by-step tutorial
* Go down to YouTube section - it starts at around line 160

Update the entry to

[2020-10-07 15:41] msandfor opened #211 "[Hacktoberfest]: Add RailsConf to the Conferences Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Add *RailsConf* to the Conferences Section
* See below for link to step-by-step tutorial
* Go down to Conferences section - it starts at around line 173
* Paste the following code undern

[2020-10-07 15:43] msandfor opened #212 "[Hacktoberfest]: Add RubyConf to the Conferences Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Add *RubyConf* to the Conferences Section
* See below for link to step-by-step tutorial
* Go down to Conferences section - it starts at around line 173
* Paste the following code underne

[2020-10-07 15:52] msandfor opened #213 "[Hacktoberfest]: Add RubyGems to the And Then What? Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Add *RubyGems* to the *And then what?* Section
* See below for link to step-by-step tutorial
* Go down to *And then what* section - it starts at around line 218
* Paste the following cod

[2020-10-07 16:07] msandfor opened #214 "[Hacktoberfest]: Add Design Portfolio Workflow to the And Then What Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Add *Design Portfolio Workflow* to the *And Then What?* Section
* See below for link to step-by-step tutorial
* Go down to section - it starts at around line 217
* Paste the correct info

[2020-10-07 16:16] Shweta200126 commented on #214
@msandfor
I'll take this , I am new , just did my first pr for a readme file (dont know how it really went , I hope it helped.)
can u link the 'And then what' section pls

[2020-10-07 16:27] codess-aus commented on #214
@Shweta200126  if you follow the Step-by-step tutorial linked in the issue, it will show you, step-by-step, what to do. You are just clicking on the pen icon to edit the README and pasting the text in grey into the table near the bottom of the README - you'll find it at around line 217 in the Readme.

[2020-10-07 16:42] Shweta200126 commented on #214
@msandfor I did it , hope it helped. bookmaked this page , its an useful resource. thx.

[2020-10-07 17:34] kezizhou commented on #213
I'll take this

[2020-10-07 17:46] wanjuntham commented on #183
May I take up on this please?

[2020-10-07 18:16] codess-aus commented on #214
Hope you clicked the Star on the Repo as well @Shweta200126

[2020-10-07 18:16] codess-aus commented on #214
Congrats on your merge

[2020-10-07 18:26] #214 closed

[2020-10-07 18:28] codess-aus commented on #183
Closed by PR #216

[2020-10-07 18:28] #183 closed

[2020-10-07 22:26] laadysufiia commented on #212
I'll take this

[2020-10-07 22:28] SondreWang commented on #210
I'll take this!

[2020-10-08 02:19] codess-aus commented on #212
Hi @diisophiia - just noticed that you made the change in your own fork and merged it to your own master branch, but have not merged it to  my master repo. If you look at the top of your code screen, there is an option for you to make a PR to me

![image](https://user-images.githubusercontent.com/5952956/95407464-acbbfe80-094f-11eb-9810-05efa22b3e05.png)

[2020-10-08 02:20] codess-aus commented on #213
Closed with PR #219

[2020-10-08 02:20] #213 closed

[2020-10-08 02:24] codess-aus commented on #211
Closed #215

[2020-10-08 02:24] #211 closed

[2020-10-08 02:27] codess-aus commented on #150
@ishitacodes - just checking if you still intend to work on this or if I should unassign you?

[2020-10-08 02:28] codess-aus commented on #105
@APalpattuwar7 - just checking if you are still working on this, or if I should unassign the issue?

[2020-10-08 05:51] adityaa-p commented on #105
Hey @msandfor, I already made changes for this and my PR was merged.
https://github.com/msandfor/10-Easy-Steps/pull/113

Do you want me to do anything else?

[2020-10-08 06:39] codess-aus commented on #105
@APalpattuwar7  PR #113  was for a different issue. This issue was for the 100DaysOfCode issue. But as you have already done one, I will reassign this one to someone else

![image](https://user-images.githubusercontent.com/5952956/95423658-02a29d80-0974-11eb-881a-176bf5a72921.png)

[2020-10-08 10:56] sondrbw commented on #147
I'll take this!

[2020-10-08 11:31] laadysufiia commented on #212
Ohh I see, I'll fix it now :)

[2020-10-08 12:38] codess-aus commented on #212
Good job

[2020-10-08 12:38] #212 closed

[2020-10-08 15:29] #147 closed

[2020-10-08 22:23] AutumnWishes87 commented on #210
I'll take this

[2020-10-09 08:37] msandfor opened #222 "[Hacktoberfest]: Add ShopTalk Show to the Podcast section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Add ShopTalk Show to the Podcast Section
* See below for link to step-by-step tutorial
* Paste the below line underneath the last row in the table, ensuring there is still an empty row b

[2020-10-09 08:41] msandfor opened #223 "[Hacktoberfest]: Add FrontEnd Happy Hour to the Podcast Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Add FrontEnd Happy Hour to the Podcast Section
* See below for link to step-by-step tutorial
* Paste the below line underneath the last row in the podcast table, ensuring there is still

[2020-10-09 08:45] msandfor opened #224 "[Hacktoberfest]: Add The Changelog to the Podcasts Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Add The ChangeLog to the Podcast Section
* See below for link to step-by-step tutorial
* Paste the below line underneath the last row in the podcast table, ensuring there is still an emp

[2020-10-09 08:49] msandfor opened #225 "[Hacktoberfest]: Add Developer Tea to the Podcast Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Add The Developer Tea to the Podcast Section
* See below for link to step-by-step tutorial
* Paste the below line underneath the last row in the podcast table, ensuring there is still an

[2020-10-09 08:51] msandfor opened #226 "[Hacktoberfest]: Add Responsive Web Design to the Podcast Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Add Responsive Web Design to the Podcast Section
* See below for link to step-by-step tutorial
* Paste the below line underneath the last row in the podcast table, ensuring there is stil

[2020-10-09 08:54] msandfor opened #227 "[Hacktoberfest]: Add The Web Platform to the Podcast Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Add The Web Platform to the Podcast Section
* See below for link to step-by-step tutorial
* Paste the below line underneath the last row in the podcast table, ensuring there is still an

[2020-10-09 08:56] msandfor opened #228 "[Hacktoberfest]: Add StyleGuides Podcast"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Add The Style Guides Podcast to the Podcast Section
* See below for link to step-by-step tutorial
* Paste the below line underneath the last row in the podcast table, ensuring there is s

[2020-10-09 10:48] ghost commented on #226
I'll take this

[2020-10-09 16:48] #226 closed

[2020-10-09 16:52] #210 closed

[2020-10-09 18:16] elshaek commented on #223
I'll take this

[2020-10-10 08:50] wanjuntham commented on #228
May I take this?

[2020-10-10 12:04] ggolubic commented on #227
Hey, I'd like to take this!

[2020-10-10 15:04] justjeff commented on #180
I'll take this

[2020-10-11 02:56] wanjuntham commented on #228
Please assign it to me if I can work on this.

[2020-10-11 12:33] #180 closed

[2020-10-11 12:35] #227 closed

[2020-10-11 15:21] msandfor opened #234 "[Hacktoberfest]:Edit Scott Hanselman in the Mentors section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Edit Scott Hanselman in the Resources Section
* See below for link to step-by-step tutorial
* Go down to mentors section
 * Change the placeholder description of *Be Kind* to:

*Scott Ha

[2020-10-11 15:32] codess-aus commented on #228
Hey @wanjuntham - just a heads-up:
The reason the link is not displaying properly is because you are missing the opening square bracket at the start of the line -

![image](https://user-images.githubusercontent.com/5952956/95682749-99dc4f00-0c19-11eb-9f72-9df3af886557.png)

Also - don't forget, if you want that to contribute to the main Repo (not just your fork), you'll need to make a pull request

[2020-10-11 15:56] codess-aus commented on #185
Still working on this @OtchereDev  ?

[2020-10-11 16:53] #228 closed

[2020-10-12 10:28] ehizman commented on #234
I will take this

On Sun, Oct 11, 2020, 16:21 Michelle Mei-Ling Sandford <
notifications@github.com> wrote:

[2020-10-12 11:34] msandfor opened #239 "[Hacktoberfest]: Edit Kent C Dodds in the Mentors Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Edit Kent C Dodds Comment in the Mentors Section
* See below for link to step-by-step tutorial
* Go down to mentors section

Edit the Comments section to replace *Be Kind* with *Improvin

[2020-10-12 12:20] msandfor opened #240 "[Hacktoberfest]: Edit the Humans of IT comment in the Get Involved Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

Go down to the **Get Involved** Section
Edit the **Humans of IT** entry, so that the comment says **Empowering technologists to achieve more by humanizing tech**

`| [Resource Name](Websit

[2020-10-12 13:29] anothergeorgecoldham opened #242 "Issue: Feature Request"
**Is your feature request related to a problem? Please describe.**
No, this is an idea.

**Describe the solution you'd like**
How about a tools section?  I'll create one with 3 tools that might be helpful to develop in?

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2020-10-12 15:36] codess-aus commented on #242
@anothergeorgecoldham - What kind of tools?  Can you give me some examples?

[2020-10-12 15:42] codess-aus commented on #242
PR #243

[2020-10-12 15:42] #242 closed

[2020-10-12 17:14] brimarcosano commented on #150
Hi, can I work on this?

[2020-10-12 18:56] OtchereDev commented on #185
I am done with please.... The pull request has been merged already for this

[2020-10-13 09:09] gaurangagarwal commented on #224
Can i work on this issue ?

[2020-10-13 13:14] ch374n commented on #137
I'll take this

[2020-10-13 13:42] #224 closed

[2020-10-13 13:42] #137 closed

[2020-10-13 13:57] msandfor opened #246 "[Hacktoberfest]: Update the Python Community Entry in the Get Involved Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Update the Python Community entry in the Get Involved Section
* See below for link to step-by-step tutorial

Update the Comments from **Love of Python** to **Python’s community is vast;

[2020-10-13 14:00] msandfor opened #247 "[Hacktoberfest]: Update Comment for the 100 Days of Code Entry"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Update comment for the 100 Days of Code entry in the Get Involved Section
* See below for link to step-by-step tutorial
* Change comment from **Love of Learning ** to **There are only tw

[2020-10-13 17:33] edward-delossantos commented on #247
I'll take this

[2020-10-13 18:20] #247 closed

[2020-10-13 18:22] #105 closed

[2020-10-13 19:31] panditita commented on #240
I'll take this if that's ok 😊

[2020-10-13 23:57] mccarthykp commented on #223
I'll take this!

[2020-10-14 04:00] #223 closed

[2020-10-14 10:59] #240 closed

[2020-10-14 11:59] Ayomilotunde commented on #150
I'll take this

[2020-10-14 13:22] #246 closed

[2020-10-14 13:57] msandfor opened #254 "[Hacktoberfest]:Edit Codenewbie in Podcasts Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Edit CodeNewbie comments in Podcast section to say **Stories from people on their coding journey**
* See below for link to step-by-step tutorial

* Add your details in the contributors s

[2020-10-14 13:58] msandfor opened #255 "[Hacktoberfest]:Edit Hanselminutes Podcast Comments"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Edit Hanselminutes comments in Podcast section to say **Fresh Tech Talk from Fresh Faces**
* See below for link to step-by-step tutorial

* Add your details in the contributors section a

[2020-10-14 14:02] msandfor opened #256 "[Hacktoberfest]: Edit Talk Python Podcast Comments"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Edit TalkPython Podcast comments in Podcast section to say **A podcast on Python and related technologies**
* See below for link to step-by-step tutorial

* Add your details in the contr

[2020-10-14 14:04] msandfor opened #257 "[Hacktoberfest]: Edit SoftSkills Engineering Podcast Comments"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Edit SoftSkills Engineering Podcast comments in Podcast section to say **It takes more than great code
to be a great engineer**
* See below for link to step-by-step tutorial

* Add your

[2020-10-14 14:05] msandfor opened #258 "[Hacktoberfest]: Edit FrontEnd HappyHour Podcast"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Edit FrontEnd HappyHour Podcast comments in Podcast section to say **A podcast featuring a panel of Software Engineers from Netflix, Twitch, & Atlassian talking over drinks about all thi

[2020-10-14 14:06] msandfor opened #259 "[Hacktoberfest]: Edit Syntax.fm podcast"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Edit Syntax.fm podcast comments in Podcast section to say **A Tasty Treats Podcast for Web Developers**
* See below for link to step-by-step tutorial

* Add your details in the contribut

[2020-10-14 14:08] msandfor opened #260 "[Hacktoberfest]: Edit Programming by Stealth Podcast"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Edit Programming by Stealth Podcast section to say **Programming By Stealth is a collaborative series created by Bart Busschots and Allison Sheridan, as part of the Chit Chat Across the

[2020-10-14 14:10] msandfor opened #261 "[Hacktoberfest]: Edit the FreeCodeCamp Podcast"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Edit the FreeCodeCamp Podcast Comments section to say **The official podcast of the freeCodeCamp open source community**
* See below for link to step-by-step tutorial

* Add your details

[2020-10-14 14:11] msandfor opened #262 "[Hacktoberfest]: Edit the Learn to Code with Me Podcast"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

*Edit the Learn to Code with Me Podcast Comments section to say **Interviews and advice for learning how to code and building your technology career.**
* See below for link to step-by-step

[2020-10-14 14:12] msandfor opened #263 "[Hacktoberfest]: Update the Code[ish] Podcast"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Update the Code[ish] Podcast Comments section to say **A podcast from the team at Heroku, exploring code, technology, tools, tips, and the life of the developer**
* See below for link to

[2020-10-14 14:57] msandfor opened #264 "[Hacktoberfest]: Add Quantum Katas to the And Then What? Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

*Add **Quantum Katas** to the **And Then What?** Section
* See below for link to step-by-step tutorial
* Go down to **And Then What?** section - it's the last table in the README.MD
* Past

[2020-10-14 18:09] staysee commented on #261
I'll take this

[2020-10-14 18:24] msandfor opened #265 "[Hacktoberfest]: Add Python for Beginners to the YouTube Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Add Python for Beginners to the YouTube Section
* See below for link to step-by-step tutorial
* Using the following template, put in the correct info for that resource (Search for it on

[2020-10-14 18:26] msandfor opened #266 "[Hacktoberfest]: Add Javascript for Beginners to the YouTube Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Add Javascript for Beginners to the YouTube Section
* See below for link to step-by-step tutorial
* Using the following template, put in the correct info for that resource (Search for it

[2020-10-14 18:31] #261 closed

[2020-10-14 19:37] RizosKonstantinos commented on #265
I'll take this

[2020-10-15 01:58] #265 closed

[2020-10-15 06:39] 0zymandias11 commented on #266
hey, i will take this

[2020-10-15 10:04] ravenblack24 commented on #264
I'll take this one please!

[2020-10-15 12:05] #264 closed

[2020-10-15 16:13] codess-aus commented on #150
PR#270

[2020-10-15 20:58] acristinabg commented on #266
I´ll take this.

[2020-10-16 00:42] thomaslinck commented on #257
I'll take this

[2020-10-16 01:02] codess-aus commented on #266
@Cristinabg854 you said you'd take this 4 hours ago, but @Flamer17 said they'd take it 18 hours ago. Have to give them a chance to do it first

[2020-10-16 01:40] codess-aus commented on #257
Great job

[2020-10-16 01:40] #257 closed

[2020-10-16 11:45] acristinabg commented on #266
Ok. I understood @msandfor

[2020-10-16 13:29] codess-aus commented on #266
pick another @Cristinabg854 - there are plenty

[2020-10-16 13:31] #260 closed

[2020-10-16 15:28] mamadou-diallo commented on #141
I can take care of this :)

[2020-10-16 16:34] #144 closed

[2020-10-16 16:35] codess-aus commented on #144
PR #274

[2020-10-17 02:35] mamadou-diallo commented on #141
PR #277 has been left for this issue :)

[2020-10-17 10:42] #141 closed

[2020-10-17 10:54] codess-aus commented on #266
PR #276

[2020-10-17 10:54] #266 closed

[2020-10-17 17:53] codess-aus commented on #182
PR#278

[2020-10-17 17:53] #182 closed

[2020-10-19 01:18] #239 closed

[2020-10-19 04:00] #181 closed

[2020-10-19 20:39] spao234 commented on #28
Hello ! add a new twitch streamer, here is my pr is link: https://github.com/msandfor/10-Easy-Steps/pull/281

[2020-10-22 03:58] codess-aus commented on #222
PR #286

[2020-10-22 03:58] #222 closed

[2020-10-22 15:04] #185 closed

[2020-10-22 17:28] #263 closed

[2020-10-23 14:34] iamhabee commented on #258
i will like to take on this issue

[2020-10-23 17:44] #258 closed

[2020-10-23 20:01] bruceyboy86 commented on #262
I'll take this issue please

[2020-10-24 09:45] iamhabee commented on #254
i will like to take this issue

[2020-10-24 10:26] codess-aus commented on #254
Sorry @iamhabee looking at the page, it seems that one has already been done too. Why don't you take this one: Issue #225

https://github.com/msandfor/10-Easy-Steps/issues/225

[2020-10-24 10:27] #254 closed

[2020-10-24 13:55] #225 closed

[2020-10-24 18:24] Heisenberg-kd commented on #256
I'll take this

[2020-10-25 14:33] #256 closed

[2020-10-25 14:35] #255 closed

[2020-10-25 14:36] #262 closed

[2020-10-25 14:36] #234 closed

[2020-10-25 14:37] #259 closed

[2020-10-25 14:42] msandfor opened #295 "[Hacktoberfest]: Update LearnCode.academy entry in YouTube Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Edit  **LearnCode.academy** entry in **YouTube** Section so the comment says * Web Development tutorials, web site design tutorials and more* instead of the placeholder comment "Love of

[2020-10-25 14:46] msandfor opened #297 "[Hacktoberfest]: Update the Learn in One Video entry in the YouTube Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Edit  **Learn in One Video** entry in **YouTube** Section so the comment says * Learn all you need to know about a topic in just one video* instead of the placeholder comment "Love of Le

[2020-10-25 14:48] msandfor opened #298 "[Hacktoberfest]: Update the Programming Course By Videos entry in the YouTube Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Edit  ** Programming Course By Videos** entry in **YouTube** Section so the comment says *Sharing Knowledge is the biggest learning. By sharing You can understand the concepts better* in

[2020-10-25 14:50] msandfor opened #299 "[Hacktoberfest]: Update Free Videos from Programming with Mosh in the YouTube Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Edit  **Free Videos from Programming with Mosh** entry in **YouTube** Section so the comment says *Become the best coder you can be* instead of the placeholder comment "Love of Learning"

[2020-10-25 16:49] msandfor opened #301 "[Hacktoberfest]: Add Jennifer Wadella to the Mentors Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Add Jennifer Wadella to the Mentors Section
* See below for link to step-by-step tutorial

Here are some details about her you can use to make the entry, copy the format of other entries

[2020-10-26 01:39] msandfor opened #304 "[Hacktoberfest]: Update Jessica Chan in the Mentors Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Edit the **Jessica Chan** entry in the **Mentors** Section, so the comments are amended to read **Sharing experiences and knowledge that can help others on their coding journey** to repl

[2020-10-26 01:44] msandfor opened #305 "[Hacktoberfest]: Update the Tania Rascia entry in the Mentors Section"
🆕🐥☝ Beginners Only:
This issue is reserved for people who are new to Open Source. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

To do:

* Update the Tania Rascia entry in the Mentors Section so the comments say **Software engineer, writer, and open-source creator** instead of the generic placeholder comment *Be Kind*
* See

[2020-10-26 18:00] cgcr9 commented on #305
I'll take this

[2020-10-26 18:07] hasna-akbarali commented on #298
Hey! Can i work on this issue?

[2020-10-27 00:34] ch1771dr0b0 commented on #304
I'll take this.

[2020-10-27 01:22] #304 closed

[2020-10-27 01:23] #305 closed

[2020-10-27 09:13] darkresq14 commented on #301
I'll take this

[2020-10-27 14:22] #301 closed

[2020-10-28 16:58] DavyBonesDev commented on #295
Hello, Would like this for my first issue :)

[2020-10-28 22:44] ehizman commented on #298
i will take this

[2020-10-29 01:45] jadecap commented on #28
Hi! I've added a new person to the YouTube section! My PR link is: #129 Thank you! ♥

[2020-10-31 02:07] Vanmee commented on #297
I wil take this

[2020-10-31 20:57] #295 closed

[2020-10-31 20:57] #297 closed

[2020-10-31 20:58] #299 closed

[2020-10-31 20:58] #298 closed